---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Protected">
	<h1 class="text-3xl font-bold">
		Protected page
	</h1>
	<p>This is a protected page that requires authentication to access.</p>
</MainLayout>
